In [40]:
#import libraries:

import pandas as pd
import numpy as np

#read csv's:

maps_df= pd.read_csv("google_maps.csv")
zomato_df = pd.read_csv("lisbon_list_new.csv")

In [63]:
"""this function grabs both dataframes and drops the unwanted tables and any duplicate if there are any"""

def treating_dataframes(maps_df, zomato_df):
    merged_df = pd.merge(maps_df, zomato_df, how='inner', left_on = 'name', right_on = 'name')
    
    merged_df["price_per_person"]= merged_df["price"] / 2
    
    filtered_table = merged_df.drop(labels= ['Unnamed: 0_x', 'business_status', 'geometry', 'icon',
       'icon_background_color', 'icon_mask_base_uri','opening_hours',
       'photos', 'place_id', 'plus_code','reference', 'scope',
       'types','permanently_closed', 'url_x', 'Unnamed: 0_y', 'url_y',], axis=1).drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
    return filtered_table

,name,rating,user_ratings_total,vicinity,price_level,price,price_per_person
0,Belcanto,4.6,857,"Rua Serpa Pinto 10A, Lisboa",4.0,220,110.0
2,Taberna Moderna,4.4,825,"Rua dos Bacalhoeiros 18A, Lisboa",2.0,60,30.0
4,Santo António de Alfama,4.0,514,"Beco São Miguel 7, Lisboa",2.0,60,30.0
5,Royale Café,4.2,604,"Largo Rafael Bordalo Pinheiro 29 R/C, Lisboa",2.0,40,20.0
7,Duetos da Sé,4.3,560,"Travessa Almargem 1B, Lisboa",2.0,60,30.0
8,Taberna Tosca,4.3,634,"Praça São Paulo 21, Lisboa",2.0,50,25.0
10,Velha Gaiteira,4.7,608,"Rua Pedras Negras 17, Lisboa",1.0,30,15.0
11,Brunch Café,4.4,1050,"Rua da Alfândega 120, Lisboa",2.0,25,12.5
13,Tasca Kome,4.6,602,"Rua da Madalena 57, Lisboa",2.0,60,30.0
15,Eating Bear,4.5,389,"Rua da Madalena 62/64, Lisboa",2.0,35,17.5
16,La Vita è Bella,3.9,949,"Rua da Prata 115, Lisboa",2.0,45,22.5
17,Casa Portuguesa do Pastel de Bacalhau,4.2,6939,"Rua Augusta 106, Lisboa",2.0,10,5.0

In [75]:
"""this function let's users decide which restaurant they want based on:
1st - price range [1 to 4]
2nd - sort by highest rating

After it, will ask to input the name of the restaurant based on their parameters they chose
After it, it will get the price per person and deduct on their travel budget"""
budget = float(input("How much money do you have to visit all around in Lisbon?"))

def filtering_with_inputs(filtered_table):
    global budget
    price_range = input("From 1 to 4 choose a price range. Being 1 the cheapest and 4 the most expensive:")
    
    while float(price_range)  not in [1.0,2.0,3.0,4.0]:
            display("Choose a number from 1 to 4")
            price_range = input("From 1 to 4 choose a price range. Being 1 the cheapest and 4 the most expensive:")   
            
#Display the table of restaurants by rating, with higher rating first:
    display(filtered_table[filtered_table["price_level"] == float(price_range)].sort_values(by='rating', ascending=False))
    restaurant_choice = input("From the table you have choose the restaurant and write it here:  ")
    
    restaurant_price = filtered_table[filtered_table["name"] == restaurant_choice]
    print(type(restaurant_price))
    
#Deduct the price of the restaurant from our initial budget:
    difference = budget - float(restaurant_price["price_per_person"])
    budget = difference
    return display("you still have:", difference)

How much money do you have to visit all around in Lisbon? 200
From 1 to 4 choose a price range. Being 1 the cheapest and 4 the most expensive: 2

,name,rating,user_ratings_total,vicinity,price_level,price,price_per_person
13,Tasca Kome,4.6,602,"Rua da Madalena 57, Lisboa",2.0,60,30.0
15,Eating Bear,4.5,389,"Rua da Madalena 62/64, Lisboa",2.0,35,17.5
2,Taberna Moderna,4.4,825,"Rua dos Bacalhoeiros 18A, Lisboa",2.0,60,30.0
11,Brunch Café,4.4,1050,"Rua da Alfândega 120, Lisboa",2.0,25,12.5
7,Duetos da Sé,4.3,560,"Travessa Almargem 1B, Lisboa",2.0,60,30.0
8,Taberna Tosca,4.3,634,"Praça São Paulo 21, Lisboa",2.0,50,25.0
5,Royale Café,4.2,604,"Largo Rafael Bordalo Pinheiro 29 R/C, Lisboa",2.0,40,20.0
17,Casa Portuguesa do Pastel de Bacalhau,4.2,6939,"Rua Augusta 106, Lisboa",2.0,10,5.0
4,Santo António de Alfama,4.0,514,"Beco São Miguel 7, Lisboa",2.0,60,30.0
16,La Vita è Bella,3.9,949,"Rua da Prata 115, Lisboa",2.0,45,22.5

From the table you have choose the restaurant and write it here:   Tasca Kome

<class 'pandas.core.frame.DataFrame'>

'you still have:'

170.0

170.0